/* ==========================================================
   Global Animations
   ========================================================== */

.fade-in {
  animation: fadeIn .35s ease;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}

.transition-default {
  transition:
    all var(--cp-duration-normal)
    var(--cp-ease);
}